In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
avg_temp = pd.read_csv("results.csv")

avg_temp.head()

   year  global_avg_temp  city_avg_temp
0  1750             8.72           6.29
1  1751             7.98           6.84
2  1752             5.78          -1.10
3  1753             8.39           5.76
4  1754             8.47           5.94